.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007f5f;
  padding: 15px 20px;
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links li a:hover {
  text-decoration: underline;
}
