.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007f5f;
  padding: 15px 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.navbar-logo img {
  height: 50px;
  width: auto; /* Maintain aspect ratio */
}

.text-logo {
  height: 50px; /* Match the height of the first logo */
  width: auto; /* Maintain aspect ratio */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links li a:hover {
  text-decoration: underline;
}
